[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
	branch = master
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat
	branch = master
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround
	branch = master
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
	branch = master
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	branch = master
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript
	branch = master
[submodule "bundle/Dockerfile"]
	path = bundle/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
    branch = master
[submodule "bundle/go"]
	path = bundle/go
	url = https://github.com/jnwhiteh/vim-golang.git
	branch = master
[submodule "bundle/toml"]
	path = bundle/toml
	url = https://github.com/cespare/vim-toml.git
	branch = master
[submodule "bundle/csv"]
	path = bundle/csv
	url = https://github.com/chrisbra/csv.vim.git
	branch = master
[submodule "bundle/json"]
	path = bundle/json
	url = https://github.com/elzr/vim-json
	branch = master
[submodule "bundle/jsx"]
	path = bundle/jsx
	url = https://github.com/mxw/vim-jsx.git
	branch = master
[submodule "bundle/rust"]
	path = bundle/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/terraform"]
	path = bundle/terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "bundle/python"]
	path = bundle/python
	url = https://github.com/vim-python/python-syntax.git
[submodule "bundle/nix"]
	path = bundle/nix
	url = https://github.com/LnL7/vim-nix.git
[submodule "bundle/jinja"]
	path = bundle/jinja
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "bundle/jsonnet"]
	path = bundle/jsonnet
	url = https://github.com/google/vim-jsonnet
[submodule "bundle/vim-code-dark"]
	path = bundle/vim-code-dark
	url = https://github.com/tomasiser/vim-code-dark.git
[submodule "bundle/ripgrep"]
	path = bundle/ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
[submodule "bundle/rooter"]
	path = bundle/rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "bundle/coc"]
	path = bundle/coc
	url = https://github.com/neoclide/coc.nvim
	branch = release
